.title {
    font-size: 1.3rem;
}

#form-submit {
    font-size: 1rem;
}

.btn_cancel a {
    color: #000;
    width: 100%;
    font-size: 1rem;
}

.input, select, input {
    font-size: 1.5vw;
}

.button input, .btn_cancel{
    width: 10%;
    height: 4vh;

    font-size: 1.3vw;
    opacity: 0.7;
    transition: .5s;
}

.button input:hover, .btn_cancel:hover{
    opacity: 1;
    transition: .5s;
}

.button a{
    width: 10%;
}

.btn_cancel a {
    width: 100%;
}

.btn {
    width: 7%;
    height: auto;
    padding: 0.3rem;
    font-size: 1vw;
}

.delete_form {
    justify-content: initial;
}

fieldset{
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

fieldset div {
    flex-basis: 50%;
}

.avatar div img{
    width: 50%;
    opacity: 0.5;
}

.avatar{
    width: 50%;
    margin-top: 1%;
}

.avatar img:hover{
    border-width: 20%;
    border-style: solid;
    border-color: var(--base_color);

    opacity: 0.7;
    transition: 0.5s;
}

.avatar input[type=radio]:checked + label img{
    border-width: 20%;
    border-style: solid;
    border-color: var(--main_color);

    opacity: 1;
    transition: 0.5s;
}

.avatar div p {
    font-size: 1.2rem;
}