.back{
    width: 85%;
    margin: 0 auto;
}

.back a{
    width: 4vw;
    display: flex;
    align-items: center;
    
    text-decoration: none;
}

.back p{
    color: var(--base_color);
}

.back .icons{
    font-size: 1.5rem;
}

.content_container{
    width: 100%;
    height: 100%;

    margin-bottom: 11vh;
}

#content_title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#content_title .title{
    width: 80%;
    color: var(--base_color);

    padding-left: 7%;
}

#content_title .title h3,
#content_title .title p{
    width: 100%;
    text-align: left;
    margin: 0;
}

#content_title .title p{
    margin-top: 3%;
    font-size: 0.7rem;
}

#content_title img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.content_container #trailer, 
.content_container #sinopsis{
    width: 100%;
    height: 100%;
    margin-top: 7%;

    display: flex;
    justify-content: center;
}

.content_container #buttons{
    width: 80%;
    height: 8vh;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 1.8rem;
}

.content_container #buttons .heart{
    padding-left: 10%;
    color: rgb(196, 13, 13);
}

.content_container #buttons .eye{
    color: rgb(17, 107, 234);
}

.content_container #sinopsis{
    margin-top: 3%;
}

.content_container #trailer iframe{
    width: 80%;
    height: 30vh;

    border-radius: 0.8rem;
    border: none;
    box-shadow: 0px 9px 14px 7px rgba(0,0,0,0.69);
}

.content_container #sinopsis{
    flex-wrap: wrap;
}

.content_container #sinopsis .title{
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_container #sinopsis .title h3,
.content_container #sinopsis .title .score{
    margin-left: 0;
    width: auto;
}

.content_container #sinopsis .title .score{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content_container #sinopsis .title .score i{
    width: auto;
    color: gold;
    margin-right: 3%;
}

.content_container #sinopsis .title .score p{
    width: auto;
    color: var(--base_color);
}

.content_container #sinopsis p{
    width: 80%;
    font-size: 0.8rem;
    color: var(--base_color);
}

.content_container #other_content{
    width: 100%;
    margin-top: 7%;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: var(--background_color);
    padding-top: 5%;
    padding-bottom: 5%;

    border-bottom: 1px solid var(--base_color);
}

.content_container #other_content div{
    width: 20%;
    color: var(--base_color);
}

.content_container #other_content div p{
    font-size: 0.8rem;
    margin-top: 7%;
}

.content_container #seasons{
    width: 100%;
}

.content_container #seasons select,
.content_container #seasons select option{
    width: 100%;
    margin-left: 10%;

    border-radius: 0.7rem;

    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: var(--background_color);
    background-image: none;
    flex: 1;
    color: var(--base_color);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.content_container #seasons select::-ms-expand {
    display: none;
}

.content_container #seasons {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: var(--background_color);
} 

.content_container #seasons::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 10%;
    background: var(--background_color);
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

footer{
    margin-top: 0;
    border-top: 0;
}
