html,
body {
  background-color: var(--base_color);
  color: var(--background_color);
  font-family: var(--main_font);
}

.logo,
.logo_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7rem;
}

.logo_nav img {
  width: 7rem;
}

.logo_nav {
  display: none;
}

.create {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.create a {
  text-decoration: none;
  color: var(--background_color);
  font-size: 1.3rem;
}

.create a:hover {
  opacity: 0.8;
}

.admin_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.series_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.films_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 85%;
  margin: 0 auto;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

.info,
h3 {
  text-align: center;
}

/* Tabla */
.account {
  margin-top: 2rem;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 2rem;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.td_flex {
  display: flex;
  justify-content: space-evenly;
}

.actions {
  display: flex;
}

.icons {
  color: #000;
}

button {
  padding: 0.4rem;
}

button:hover {
  cursor: pointer;
}

#only_view {
  text-align: center;
}

.btn_edit {
  background: #ffc107;
}

.btn_delete {
  background: #dc3545;
}

.btn_view {
  background: #0d6efd;
}

.btn_create {
  background: #198754;
}

/* Menu Hamburguesa */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

header a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #456789;
  max-width: 200px;
  background: var(--shadow_color);
  text-shadow: 1px 1px black;
}

header input[type="checkbox"],
header .bx-x,
header .bx-menu {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

header .bx-x,
header .bx-menu {
  font-size: 48px;
  color: white;
  pointer-events: none;
}

header input[type="checkbox"] {
  opacity: 0;
}

header {
  color: white;
  position: relative;
  background: var(--background_color);
  min-height: 48px;
}

header nav {
  display: none;
}

header input:checked ~ nav {
  display: block;
}

header input:checked ~ .bx-menu {
  display: none;
}

header input:not(:checked) ~ .bx-x {
  display: none;
}

i {
  color: #fff;
}

@media only screen and (max-width: 536px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    width: 80%;
    margin: 0 auto;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    font-size: 0.9rem;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  .films td:nth-of-type(1):before {
    content: "Cod_Pelicula";
    font-weight: bold;
  }
  .films td:nth-of-type(2):before {
    content: "Título";
    font-weight: bold;
  }
  .films td:nth-of-type(3):before {
    content: "Género";
    font-weight: bold;
  }
  .films td:nth-of-type(4):before {
    content: "Acciones";
    font-weight: bold;
  }

  .series td:nth-of-type(1):before {
    content: "Cod_Serie";
    font-weight: bold;
  }
  .series td:nth-of-type(2):before {
    content: "Título";
    font-weight: bold;
  }
  .series td:nth-of-type(3):before {
    content: "N_Temporada";
    font-weight: bold;
  }
  .series td:nth-of-type(4):before {
    content: "Acciones";
    font-weight: bold;
  }

  .account td:nth-of-type(1):before {
    content: "Correo";
    font-weight: bold;
  }
  .account td:nth-of-type(2):before {
    content: "Nombre";
    font-weight: bold;
  }
  .account td:nth-of-type(3):before {
    content: "Apellidos";
    font-weight: bold;
  }
  .account td:nth-of-type(4):before {
    content: "Dirección";
    font-weight: bold;
  }
  .account td:nth-of-type(5):before {
    content: "Teléfono";
    font-weight: bold;
  }
  .account td:nth-of-type(6):before {
    content: "Tipo Suscripción";
    font-weight: bold;
  }
  .account td:nth-of-type(7):before {
    content: "Acción";
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  p,
  h1,
  h2,
  h3 {
    font-size: 1.3rem;
  }

  .logo img {
    width: 9rem;
  }

  .films_container,
  .series_container {
    width: auto;
    flex-direction: row;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .film_container,
  .serie_container {
    margin-top: 2rem;
    padding: 1rem;
    height: 17rem;
  }

  .info {
    text-align: center;
  }

  h3 {
    margin-left: 2.5rem;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .image img {
    width: 12rem;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  h3 {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }

  header input[type="checkbox"],
  header .bx-x,
  header .bx-menu {
    display: none;
  }

  header nav {
    display: block;
  }

  .logo_nav {
    display: inline-block;
  }

  .logo {
    display: none;
  }

  header nav ul {
    display: flex;
    align-items: center;
    min-height: auto;
  }

  header nav ul li {
    height: 100%;
  }

  header a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: none;
    max-width: 200px;
    background: var(--background_color);
    text-shadow: 1px 1px black;
  }

  .films_container,
  .series_container {
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .film_container,
  .serie_container {
    margin-top: 2rem;
    padding: 1rem;
    height: 17rem;
    transition: all 0.5s;
  }

  .film_container:hover,
  .serie_container:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
  }

  .info {
    text-align: center;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .image img {
    width: 12rem;
    height: 100%;
    object-fit: cover;
  }
}
