fieldset{
    width: 100%;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.title {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 100vh;

    text-align: center;
    font-family: var(--main_font);
}

.edit_input, .input, .textarea_input, .file_input, .date_input{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5%;
}

.edit_input input, select, .textarea_input textarea, .file, .date_input input{
    width: 70%;
    border: solid 1.5px var(--main_color);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--background_color);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0.6;

    overflow: hidden;
}

.edit_input label, .input label, .textarea_input label, .file_input p, .date_input label{
    position: absolute;
    color: var(--background_color);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.edit_input input:focus, .edit_input input:valid,
.input select:focus, .input select:valid,
.file_input span:focus, .file_input span:valid,
.textarea_input textarea:focus, .textarea_input textarea:valid {
    outline: none;
    border: 1.5px solid var(--main_color);
}

.edit_input input:focus ~ label, .edit_input input:valid ~ label,
.input select:focus ~ label, .input select:valid ~ label,
.file_input  p,
.textarea_input textarea:focus ~ label, .textarea_input textarea:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--base_color);
    padding: 0 .2em;
    color: var(--main_color);
}

.input select ~ label, .date_input input ~ label{
    transform: translateY(-50%) scale(0.8);
    background-color: var(--base_color);
    padding: 0 .2em;
    color: var(--main_color);
}

.file_input {
    text-align: center;
}

.file_input span {
    margin-bottom: 1rem;
}

textarea {
    resize: none;
    width: 60%;
    height: 20vh;
}

.input input:focus, .edit_input input:focus{
    outline: none;
    opacity: 1;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.button input{
    width: 20%;
    margin: 2%;
    height: 3.4vh;

    background-color: var(--main_color);
    border: none;
    border-radius: 10px;

    font-size: 3vw;
}

.file_input input[type="file"]{
    display: none;
}

.file_input input[type="file"]::before{
    content: "Upload";
}

.button a{
    text-decoration: none;
    width: 20%;
}

.button a input{
    width: 100%;
}

.btn_cancel{
    display: flex;
    align-items: center;
    width: 20%;
    margin: 2%;
    height: 3.4vh;
    text-align: center;

    border: none;
    border-radius: 10px;

    font-size: 3vw;
}

.btn_cancel a {
    color: #000;
    width: 100%;
}

/* Delete Form*/
.delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50vh;
    background-color: var(--base_color);
    opacity: 0.8;
}

.delete_form div {
    margin-top: 2rem;
}

.delete_form div h2 {
    text-align: center;
}

.btn_group {
    display: flex;
    justify-content:center;
    justify-self: flex-end;
    width: 100%;
    margin-bottom: 15rem;
}

.btn {
    width: 20%;
    height: 3.4vh;
    border: none;
    border-radius: 10px;
    font-size: 2.5vw;
    margin-right: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px){

    .form_container fieldset{
        margin-top: 3%;
    }

    .edit_input label, .input label, .textarea_input label, .file_input p, .date_input label {
        font-size: 2.6vw;
    }

    .edit_input input, select, .textarea_input textarea, .file, .date_input input{
        font-size: 2vw;
    }
}

@media only screen and (min-width: 992px) {
    .form_container fieldset{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 3%;
    }

    .edit_input, .input, .textarea_input, .file_input, .date_input{
        width: 40%;
    }

    .edit_input label, .input label, .textarea_input label, .file_input p, .date_input label{
        font-size: 1.4vw;
    }

    .edit_input input, select, .textarea_input textarea, .file, .date_input input{
        font-size: 1vw;
    }

    .button input, .btn_cancel{
        width: 10%;
        height: 4vh;
    
        font-size: 1.3vw;
        opacity: 0.7;
        transition: .5s;
    }

    .button input:hover, .btn_cancel:hover{
        opacity: 1;
        transition: .5s;
    }
    
    .button a{
        width: 10%;
    }

    .btn_cancel a {
        width: 100%;
    }

    .btn {
        width: 7%;
        height: auto;
        padding: 0.3rem;
        font-size: 1vw;
    }

    .delete_form {
        justify-content: initial;
    }
}