html, body{
    background-color: var(--background_color);
}

.main{
    width: 100%;
    height: 100%;

    background-color: var(--background_color);
}

.background{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 100vh;

    background-image: url(/static/img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    box-shadow: inset -0px -30px 20px var(--background_color);
}

.button_login{
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: flex-end;
}

.login, .submit{
    width: 28vw;
    height: 4.5vh;
    padding: 1%;

    font-size: 3.5vw;
    border-radius: 0.7rem;
    border: none;
    background-color: var(--main_color);
}

.logo{
    width: 100%;
    margin-top: 15%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo img{
    width: 80%;
}

.logo p{
    padding-top: 4%;
    width: 80%;
    text-align: center;

    font-size: 3.5vw;
    color: var(--base_color);
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%; 
    height: 85vh;

    background-color: var(--background_color);
}

.cuadro{
    width: 60%;
    height: 50%;
    background-color: antiquewhite;
}

.content p{
    width: 80%;
    text-align: center;

    font-size: 3.2vw;
    color: var(--base_color);
}

.button_submit{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 6vh;

    background-color: var(--background_color);
}

.submit{
    width: 32vw;
    margin-top: 5%;
}

.devices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10%;

    background-color: var(--background_color);
}

.television, .computer, .phone, .console{
    width: 50%;
    height: 58vw;
}

.television img, .computer img, .phone img, .console img{
    width: 50%;
}

.television h2, .computer h2, .phone h2, .console h2{
    padding-bottom: 2%;

    font-size: 3.7vw;
    color: var(--base_color);
}

.television p, .computer p, .phone p, .console p{
    font-size: 2.8vw;
    color: var(--base_color);

    padding: 2%;
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .button_login{
        height: 10%;
    }

    .logo{
        margin-top: 7%;
    }

    .logo img{
        width: 70%;
    }

    .logo p{
        font-size: 3vw;
    }

    .content p{
        font-size: 2.8vw;
    }

    .button_submit{
        height: 10%;
    }

    .devices{
        height: 50%;
    }

    .television, .computer, .phone, .console{
        height: 48vw;
    }

    .television img, .computer img, .phone img, .console img{
        width: 40%;
    }
    
    .television h2, .computer h2, .phone h2, .console h2{
        font-size: 3vw;
    }

    .television p, .computer p, .phone p, .console p{
        font-size: 2.3vw;
    }
}

@media only screen and (min-width: 992px){
        .button_login{
            height: 10%;
            margin-top: 2%;
            margin-right: 2%;
        }
    
        .login, .submit{
            width: 11vw;
            padding: 0;
            font-size: 1.3vw;
    
            opacity: 0.6;
            transition: .5s;
        }
    
        .login:hover{
            opacity: 1;
            transition: .5s;
        }
    
        .logo{
            flex-direction: column;
            justify-content: left;
            align-content: flex-start;

            margin-top: 0;
        }
    
        .logo img{
            width: 32%;
        }
    
        .logo p{
            width: 50%;
            margin-left: 5%;
    
            text-align: left;
            font-size: 1.2vw;
        }
    
        .content{
            justify-content: space-evenly;
            height: 50vh;
        }
    
        .cuadro{
            width: 40%;
            height: 80%;
        }
    
        .content p{
            width: 40%;
            
            text-align: left;
            font-size: 1.2vw;
        }
    
        .button_submit{
            height: 10vh;
        }

        .devices{
            margin: 0;
        }
    
        .submit:hover{
            opacity: 1;
            transition: .5s;
        }
    
        .devices{
            align-content: flex-start;
            align-items: stretch;
        }
    
        .television, .computer, .phone, .console{
            width: 25%;
            height: auto;
        }
    
        .television img, .computer img, .phone img, .console img{
            width: 50%;
        }
        
        .television h2, .computer h2, .phone h2, .console h2{
            font-size: 1.6vw;
        }
    
        .television p, .computer p, .phone p, .console p{
            font-size: 1vw;
        }
}