.content_container{
    width: 100%;
}

#content_title{
    width: 100%;
    margin-bottom: 5%;
}

.bg_content{
    font-size: 1.5rem;
}

#content_info{
    margin: 0 auto;
    margin-top: 5%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.content_info_title{
    font-size: 0.95rem;
    font-weight: bold;
}

.content_info_value{
    font-size: 0.9rem;
}

.content_container .image{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.content_container .image iframe{
    margin-top: 2%;
    height: 27vh;
    width: 100%;
}

.back{
    width: 85%;
    margin: 0 auto;
}

.back a{
    width: 4vw;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    color: var(--background-color);
}

.back .icons{
    font-size: 1.5rem;
}

#sinopsis{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2%;
}

@media only screen and (min-width: 768px) and (max-width: 992px){

}

@media only screen and (min-width: 993px){

}