img {
  width: 15%;
}

h1 {
  font-size: 2.2vw;
  margin: 2%;
}

div {
  padding: 0;
  font-size: 1.3vw;
}

fieldset {
  margin: auto;
  margin-top: 1%;
  width: 80%;
}

.edit_input input {
  width: 30%;
  height: 6vh;
}

.contain {
  margin-bottom: 1.5%;
}

.input input {
  font-size: 2vw;
}

select {
  margin: 1.7%;
  padding: 1%;
  font-size: 1.2vw;
}

.input input {
  width: 20%;
  padding: 1%;
  margin: 2%;

  font-size: 1.2vw;
}

.input input:focus {
  outline: none;
  opacity: 1;
}

.button input {
  width: 10%;
  height: 4vh;

  font-size: 1.3vw;
  opacity: 0.7;
  transition: 0.5s;
}

.button input:hover {
  opacity: 1;
  transition: 0.5s;
}

.button a {
  width: 10%;
}

.register {
  font-size: 1vw;
}

.register input {
  font-size: 1vw;
  opacity: 0.7;
  transition: 0.5s;
}

.register input:hover {
  opacity: 1;
  transition: 0.5s;
}

.avatar div img {
  width: 50%;
  opacity: 0.5;
}

.avatar {
  width: 50%;
  margin-top: 1%;
}

.avatar img:hover {
  border-width: 20%;
  border-style: solid;
  border-color: var(--base_color);

  opacity: 0.7;
  transition: 0.5s;
}

.suscription {
  margin-top: 2%;
  flex-direction: row;
  justify-content: space-around;
}

.suscription .box {
  width: 30%;
  margin-bottom: 1%;
}

.box h1 {
  font-size: 1.8vw;
}

.box p {
  font-size: 1.3vw;
}

.phone {
  width: 50%;
}

.btn {
  font-size: 1.6vw;
  padding: 1.3rem;
}
