*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root{
    --background_color: #1c232d;
    --shadow_color: #353c44;
    --main_color: #00aeb5;
    --base_color: #efefef;
    --main_font: 'Noto Sans Display', sans-serif;
}

/* MAIN */

html, body{
    width: 100%;
    min-height: auto;
    position: relative;

    font-family: var(--main_font);
}

p{
    max-width: 75ch;
}

/* HEADER */

.header_user {
    position: sticky;
    z-index: 10000;
    top: 0px;

    width: 100%;
    height: 11vh;
    background-color: var(--background_color);
}

.head{
    width: 100%;
    height: 100%;
}


.logo_user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo_user a {
    height: 100%;
}

.logo_user img{
    width: auto;
    height: 100%;
}

/* NAVEGADOR */

.nav_user {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9vh;

    text-align: center;

    background-color: var(--background_color);
    z-index: 1000;
}

.nav_user ul{
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_user li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    width: 30%;
}

.nav_user a, .nav_user label{
    color: var(--base_color);
    font-size: 2.5rem;
    text-decoration: none;
}

/* MENU HAMBURGUESA */

.hamburguer_menu{
    width: 100%;
    height: 2.5rem;
    font-size: 0 !important;
}

.hamburguer_menu img{
    height: 100%;
    border-radius: 50%;
}

.hamburguer_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 11vh;
    left: 0;

    width: 100%;
    background-color: var(--shadow_color);

    opacity: 0;
    z-index: -500;
    transition: 0.5s;
}

.hamburguer_nav li{
    display: none;
    width: 100%;
    padding: 8%;
}

.hamburguer_nav hr{
    width: 100%;
}

.hamburguer_nav a{
    color: var(--base_color);
    font-size: 1.7rem;
}

.hamburguer_nav i{
    padding-right: 5%;
}

#check{
    display: none;
}

#check:checked ~ .hamburguer_nav{
    opacity: 1;
    transition: 0.5s;
    height: 76vh;
}

#check:checked ~ .hamburguer_nav li {
    display: inline;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 5%;
    padding: 20px 50px;

    background-color: var(--background_color);
    border-top: 1px solid var(--base_color);
    color: var(--base_color);
}

.icons, .menu{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    color: var(--base_color);
}

.icons li, .menu li{
    list-style: none;
}

.icons li a{
    font-size: 2em;
    color: var(--base_color);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.menu li a{
    margin: 0 10px;

    text-decoration: none;
    font-size: 1rem;
    color: var(--base_color);
}

footer p{
    margin-top: 15px;
    margin-bottom: 10px;

    text-align: center;
    font-size: 0.7rem;
}

.menu_tablet{
    display: none;
}

.menu_desktop{
    display: none;
}

.profile_image {
    margin-bottom: 1vw;
}