h3 {
  margin: 0;
  margin-top: 2%;
}

header input[type="checkbox"],
header .bx-x,
header .bx-menu {
  display: none;
}

header nav {
  display: block;
}

.logo_nav {
  display: inline-block;
}

.logo {
  display: none;
}

header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: auto;
}

header nav ul .logo_nav{
  width: 10%;
}

header nav ul li {
  height: 100%;
}

header .return{
  width: 73%;
  display: flex;
  justify-content: flex-end;
}

header .return a{
  width: 100%;
}

header label{
  display: none;
}

header a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: none;
  max-width: 200px;
  background: var(--background_color);
  text-shadow: 1px 1px black;
}

.films_container,
.series_container {
  width: 100%;
  height: 17rem;
  margin-top: 1.5rem;

  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  transition: all 0.5s;
}

.series_h3{
  margin-top: 6%;
}

.film_container:hover img,
.serie_container:hover img{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}

.info {
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.image img {
  width: 12rem;
  height: 100%;
  object-fit: cover;
}
