p,
h1,
h2,
h3 {
  font-size: 1.3rem;
}

.logo img {
  width: 9rem;
}

.admin_container h3{
  margin: 2%;
  font-size: 2rem;
}

.films_container,
.series_container {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 2rem;
}

.film_container,
.serie_container {
  width: 30%;
  margin: 1%;
}

.image{
  width: 100%;
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.image img {
  width: 12rem;
  height: 100%;
  object-fit: cover;
}

nav a {
  font-size: 1.8rem;
}
