.form_container fieldset {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.edit_input,
.input,
.textarea_input,
.file_input,
.date_input {
  width: 40%;
}

.edit_input label,
.input label,
.textarea_input label,
.file_input p,
.date_input label {
  font-size: 1.4vw;
}

.edit_input input,
select,
.textarea_input textarea,
.file,
.date_input input {
  font-size: 1vw;
}

.button input,
.btn_cancel {
  width: 10%;
  height: 4vh;

  font-size: 1.3vw;
  opacity: 0.7;
  transition: 0.5s;
}

.button input:hover,
.btn_cancel:hover {
  opacity: 1;
  transition: 0.5s;
}

.button a {
  width: 10%;
}

.btn_cancel a {
  width: 100%;
}

.btn {
  width: 7%;
  height: auto;
  padding: 0.3rem;
  font-size: 1vw;
  opacity: 0.9;
  color: black;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.delete_form {
  justify-content: initial;
}
